.characterContainer{
background: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    
    
}

.characterContainer ul{
    display: inline;
    background: violet;
}