* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
   
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: animateBg 11s ease-in-out infinite;
}

button{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 20px;
    margin: 20px 20px;
    background: transparent ;
    font-size: large;
    font-weight: bold;
    transition: .5s ease-in-out ;
    border-radius: 25px;
    
}

button:hover{
    scale: 1.05;
    box-shadow: #f0f 0 0 20px, 
    #f0f 0 0 40px, 
    #f0f 0 0 60px;
    transition: .5s ease-in-out ;
}
@keyframes animateBg {
    0% {
        background-color: #ff0;
    }

    25% {
        background-color: #f0f;
    }
    50%{
        background-color: rgb(252, 8, 8);
    }

    75% {
        background-color: rgb(8, 243, 8);
    }

    100% {
        background-color: #ff0;
    }
}
.loading-text{
    font-size: 100px;
    font-weight: bolder;
}